
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
    @media (max-width:em(1400)) and (min-width: $mobile){
      padding-left: rem(135);
    }
	}
	[class*="__cnt"] {
    @media (min-width:$pc){
      margin-left: calc((100% - rem(1170))/2);
    }
    @media (max-width:em(1400)) and (min-width: $mobile){
      padding-left: rem(135);
    }
  }
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

.contacts {
}
.contacts__container {
}


.contacts__head {
	font-weight: 600;
	font-size: rem(20);
	max-width: 40%;
}
.contacts__title {
}
.contacts__body {
	padding-top:rem(70);
	margin-bottom: rem(20);
	display: flex;
	flex-direction: row;
	flex: 0 1 100%;
}
.contacts__item {
	gap: rem(15);
}
.item-contacts{
		display: flex;
		flex-direction: column;
		gap: rem(15);
		flex: 1 1 auto;
}
.item-contacts__icon {
	width: rem(33);
	flex: 0 0 rem(33);

}
.item-contacts__content {
	font-size: rem(12);
	display:flex;
	flex-direction: column;
	gap:rem(15);
	border-top: 1px solid #000;
	padding-top: rem(10);
}

.item-contacts__phone {
	font-size: rem(20);
	font-weight: 600;
	display:flex;
	flex-direction: column;
}

.item-contacts__subtitle{
	font-size: rem(12);
}

.item-contacts__phone {
}
.item-contacts__subtitle {
}
.item-contacts__number {
}
.item-contacts__row {
}



